<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583840257786-ive0fqstmv9h5hekarms473oleq4fv72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583840257786-ive0fqstmv9h5hekarms473oleq4fv72</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ0kFNPrQ3MEes9e0j1KymSD8WDzrb7jY</string>
	<key>GCM_SENDER_ID</key>
	<string>583840257786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recess.mobile.mobileApartment</string>
	<key>PROJECT_ID</key>
	<string>mobile-appartment-4e7c1</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-appartment-4e7c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583840257786:ios:f152b6c376dfc6b1ae9b43</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-appartment-4e7c1-default-rtdb.firebaseio.com</string>
</dict>
</plist>